name: just_audio
description: Audio player for files, assets, URLs and DASH/HLS streams supporting gapless looping, shuffling, concatenating, clipping. Works with audio_service to play audio in the background.
version: 0.6.8
homepage: https://github.com/ryanheise/just_audio/tree/master/just_audio

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.12.13+hotfix.5"

dependencies:
  just_audio_platform_interface: ^2.0.0
  just_audio_web: ^0.2.2
  audio_session: ^0.0.10
  rxdart: ">= 0.24.1 < 0.26.0"
  path: ^1.6.4
  path_provider: ^1.6.10
  async: ^2.4.0
  uuid: ^2.2.0
  crypto: ^2.1.5
  meta: ^1.2.4
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  mockito: ^4.1.3
  plugin_platform_interface: ^1.0.3

flutter:
  plugin:
    platforms:
      android:
        package: com.ryanheise.just_audio
        pluginClass: JustAudioPlugin
      ios:
        pluginClass: JustAudioPlugin
      macos:
        pluginClass: JustAudioPlugin
      web:
        default_package: just_audio_web
