name: just_audio_web
description: Web platform implementation of just_audio
homepage: https://github.com/ryanheise/just_audio/tree/master/just_audio_web
version: 0.2.3

flutter:
  plugin:
    platforms:
      web:
        pluginClass: JustAudioPlugin
        fileName: just_audio_web.dart

dependencies:
  #just_audio_platform_interface: ^2.0.0
  just_audio_platform_interface:
    path: ../just_audio_platform_interface
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  meta: ^1.1.8

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.12.13+hotfix.5"
